@use "../abstract" as *;
@use "../base/" as *;

.blogBanner {
  background-image: url(../../IMG/aaec3d71-group-62.png);

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include centerAll;
    .top {
      position: relative;
      gap: 5rem;
      padding: 10rem;
      h1 {
        font-size: 5rem;
      }
      p {
        padding-top: 2rem;
        padding-bottom: 4rem;
      }

      img {
        position: absolute;
        top: 17rem;
        right: -29rem;
      }
    }
  }

  .bottom {
    position: relative;
    img {
      position: absolute;
      bottom: 7rem;
      right: 46rem;
    }
    a {
      position: absolute;
      border-radius: 50%;
      background-color: $clr--light;
      border-color: $clr--light;
      padding: 1rem;
      bottom: -2rem;
      i {
        font-size: 2rem;
        color: $clr--dark;
      }
    }
  }
}

.blogPost {
  padding-top: 8rem;
  &__wrapper {
    display: flex;
    gap: 20rem;
    padding-bottom: 5rem;
    .content {
      display: flex;
      gap: 1rem;
      img {
        width: 15rem;
        height: 10rem;
        object-fit: cover;
      }
      &__text {
        h5 {
          color: $clr--primary;
          padding-bottom: 1rem;
        }
        h4 {
          color: $clr--dark;
          font-weight: 600;
        }
        small {
          color: $clr--dark;
          font-size: small;
        }
        p {
          color: $clr--dark;
          width: 20rem;
          padding-bottom: 1rem;
          padding-top: 1rem;
        }
        a {
          color: $clr--dark;
          font-weight: 600;
        }
      }
    }
  }
  &__card {
    padding-bottom: 2rem;
  }
}
