@use "../abstract" as *;
@use "../base/" as *;

.contactBanner {
  background-image: url(../../IMG/aaec3d71-group-62.png);

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include centerAll;
    .top {
      position: relative;
      gap: 5rem;
      padding: 10rem;
      h1 {
        font-size: 5rem;
      }
      p {
        padding-top: 2rem;
        padding-bottom: 4rem;
      }

      img {
        position: absolute;
        top: 17rem;
        right: -29rem;
      }
    }
  }

  .bottom {
    position: relative;
    img {
      position: absolute;
      bottom: 7rem;
      right: 46rem;
    }
    a {
      position: absolute;
      border-radius: 50%;
      background-color: $clr--light;
      border-color: $clr--light;
      padding: 1rem;
      bottom: -2rem;
      i {
        font-size: 2rem;
        color: $clr--dark;
      }
    }
  }
}

.contact {
  padding: 7rem;
  &__wrapper {
    // @include evenGrid(2, 2rem);
    display: flex;
    gap: 5rem;
  }
  &__image {
    img {
        padding-top: 1rem;
      height: 44rem;
      width: 31rem;
      object-fit: cover;
    }
  }
  &__form {
    .text {
      h3 {
        color: $clr--dark;
        font-size: 3rem;
        padding-bottom: 2.5rem;
      }
      p {
        color: $clr--dark;
        padding-bottom: 3rem;
      }
    }
  }
  &__fill {
    .first {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      padding-bottom: 2rem;
      input {
        border: 1px solid  rgba(0, 0, 0, .5);
        width: 25rem;
        height: 4rem;
        &::placeholder {
          padding: 2rem;
        }
      }
    }
    .second {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      input {
        border: 1px solid  rgba(0, 0, 0, .5);
        width: 100%;
        height: 4rem;
        &::placeholder {
          padding: 2rem;
        }
      }
      textarea {
         border: 1px solid  rgba(0, 0, 0, .5);
        width: 100%;
        height: 8rem;
        padding: 1rem;
      }
    a{
        width: 12rem;
    }
    }
  }

  iframe{
    padding-top: 10rem;
    width: 100%;
    height: 40rem;
  }
}
